:root {
    --teal: #009688;
    --dark: #0a0a0a;
    --blue: #2196F3;
    --white: #ffffff;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: var(--dark);
    color: var(--white);
}


/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 40px;
    background: var(--teal);
    position: sticky;
    top: 0;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav {
    display: flex;
    gap: 30px;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.cta-btn {
    background: var(--blue);
    padding: 10px 18px;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

/* Hamburger */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.hamburger span {
    width: 28px;
    height: 3px;
    background: white;
}

/* HERO */
.hero {
    background: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.7)),
                url('image/back.png') center/cover;
    padding: 120px 40px;
    text-align: center;
}



.hero h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 25px;
}

.hero-buttons button {
    padding: 12px 24px;
    margin: 0 8px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.primary {
    background: var(--blue);
}

.secondary {
    background: transparent;
    border: 2px solid var(--white);
    color: white;
}

/* FEATURES */
.features {
    padding: 80px 40px;
    text-align: center;
}

.features-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.feature-item {
    background: #111;
    padding: 30px;
    border-radius: 10px;
    border-top: 4px solid var(--teal);
}

.icon {
    font-size: 40px;
    margin-bottom: 10px;
}

/* RESPONSIVE */
@media (max-width: 768px) {

    nav {
        position: absolute;
        top: 70px;
        right: 0;
        background: var(--teal);
        flex-direction: column;
        width: 200px;
        padding: 20px;
        display: none;
    }

    nav.active {
        display: flex;
    }

    .hamburger {
        display: flex;
    }

    .features-grid {
        grid-template-columns: 1fr;
    }

    .hero h1 {
        font-size: 32px;
    }
}
